@import url("https://fonts.googleapis.com/css?family=Roboto");

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
  font-family: "Roboto", sans-serif !important;
  width: 100%;
  height: 100%;
  background-color: green !important;
  background-image: url(./static/Background.jpg);
  background-size: 100% 100%;
}

html {
  height: 100%;
}

#main_window {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 89%;
  height: 91%;
  background-color: rgb(241, 241, 241);
  max-width: 1500px;
  max-height: 1000px;
}

.line {
  width: 80%;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid black;
  margin-bottom: 4%;
}

.selected_recipe {
  outline-color: blueviolet;
  outline-style: solid;
  outline-width: 3px;
}

#navbar_line {
  height: 80%;
  width: 1px;
  border-right: 1px solid black;
  margin-left: 1.5%;
}

.title_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 4%;
}

.h4 {
  text-align: center !important;
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.h6 {
  display: flex;
}

#app_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#nav_bar {
  height: 90%;
}

.bar {
  text-align: right;
  color: white;
  height: 100%;
  transition: width 1s linear;
}

.water_bar {
  background-color: rgb(61, 61, 199);
}

.tea_bar {
  background-color: green;
}

.ing_bar {
  background-color: rgb(110, 39, 39);
}

.container_status {
  display: inline-block;
  width: 16%;
  margin-right: 2%;
}

.fixed_bar {
  height: 30%;
  width: 100%;
  border-style: solid;
  border-radius: 5px;
  display: flex;
}

.bar_name {
  display: inline-block;
  font-size: 1.2 vw;
  height: 20%;
}

.nav_item {
  text-align: center;
  margin-bottom: 3%;
}

.nav_button {
  width: 90%;
}

#containers_row {
  height: 8%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}

#main_row {
  display: flex;
  height: 92%;
}

#main_content {
  display: flex;
  flex: 3;
}

#recipes_list_container {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  margin-top: 4%;
  height: 70%;
}

.recipe_main_section {
  padding: 0 5% 0;
  height: 70%;
}

.recipe_section {
  margin-bottom: 10%;
  height: calc(100% / 3);
}

.recipe_column {
  display: flex;
  flex-direction: column;
}

.recipes_names {
  flex-basis: 70%;
  border-right: 1px solid;
}

.recipes_values {
  text-align: right;
  padding-left: 6%;
  flex-basis: 25%;
}

.unit {
  text-align: right;
}

.value_unit_container {
  display: flex;
  justify-content: space-between;
}

.make_tea_recipes {
  display: flex;
  flex: 2;
  justify-content: center;
}

.make_tea_arrow_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipes_with_btn {
  flex-wrap: wrap;
  width: 100%;
}

#submit_tea {
  text-align: center;
  width: 100%;
}

.recipe {
  background-color: #f5f5f5;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

.make_tea_arrow {
  cursor: pointer;
}

.mid_recipe {
  margin: 0 2% 0;
}

#machine_containers {
  display: flex;
  flex: 3;
  justify-content: flex-end;
}

#edit_containers_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#edit_containers_form {
  margin-top: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.edit_container_fixed_bar {
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  box-shadow: inset 0px 0px 0px 2px;
  height: 90%;
}

.mb-3 {
  display: flex;
  flex-direction: column;
}

.edit_containers_bar_select {
  display: flex;
  justify-content: space-between;
}

.edit_containers_select {
  width: 45% !important;
}

.edit_container_title {
  font-size: 1.6vw;
}

#edit_containers_btn {
  margin-top: 3%;
}

.edit_container_status {
  width: 45%;
}

.edit_bar {
  box-shadow: inset 0px 0px 0px 2px black;
  border-radius: 5px;
}

.view_with_filters {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 15px;
}

#filters_container {
  flex: 1;
}

.recipes_list_container {
  flex: 5;
  display: flex;
}

.filter_label {
  margin: 0 !important;
  font-size: small;
}

#filters_title {
  font-size: 2.5vh;
}

.filters_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.edit_recipe {
  background-color: white;
  flex: 5;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

#filters_inputs {
  margin-bottom: 13%;
}

#filters_btns {
  display: flex;
  flex-direction: column;
}

#submit_filters_btn {
  margin-bottom: 10%;
}

.range_input {
  display: flex;
  align-items: center;
}

#range-separator {
  font-size: x-large;
  margin: 0 2% 0;
}

.filter_unit {
  font-size: large;
  position: relative;
  min-width: 18.44px;
}

.second {
  padding-left: 7px;
}

.edit_arrow_conatiner {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4%;
}

.edit_arrow_container {
  cursor: pointer;
}

#create_recipe_img {
  width: 57%;
  height: 50%;
  cursor: pointer;
}

#blank_recipe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe_container {
  width: calc(96% / 3);
  max-height: 48%;
  display: flex;
}

.main_recipe_container {
  max-height: none;
}

.edit_icon_set {
  display: flex;
  flex-direction: column;
  gap: 7%;
  margin-top: 4%;
}

.hidden {
  visibility: hidden;
}

.icon_container {
  height: calc(30% / 3);
  border: 0.1px solid #f5f5f5;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  border-radius: 13%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.blured {
  z-index: 0;
  filter: blur(2px);
}

#ce_recipe_form_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

#ce_pos_container {
  height: 85%;
  width: 55%;
  max-width: 618px;
  display: flex;
}

#ce_form {
  border: 2px solid;
  border-image: linear-gradient(45deg, turquoise, rgb(140, 207, 40)) 1;
  background-image: linear-gradient(rgb(217, 236, 225), white);
  border-radius: 2%;
  display: flex;
  height: 100%;
  width: 90%;
  flex-direction: column;
}

#ce_inputs {
  display: flex;
  flex-direction: column;
}

#ce_recipe_name_section {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ce_name_separator {
  border-bottom: 1px solid black;
  width: 80%;
  height: 1px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.ce_section {
  margin: 0 3% 2%;
}

.ce_section_content {
  display: flex;
  flex-direction: column;
}

.ce_input_row {
  display: flex;
  justify-content: space-between;
}

.ce_input_value {
  width: 30%;
  padding-left: 5%;
}

.ce_input_name {
  width: 65%;
}

.ce_input_row {
  margin-bottom: 2%;
}

.ce_text_name {
  display: flex;
  align-items: flex-end;
  font-size: large;
}

.ce_section_title {
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 1%;
}

.ce_name_input {
  text-align: center;
}

#ce_btns {
  display: flex;
  justify-content: center;
}

#ce_submit_recipe_btn {
  width: 40%;
}

#ce_icon_container {
  display: flex;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  border-radius: 10%;
  background-color: rgb(49, 60, 161);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 15%;
}

#ce_icon_set {
  display: flex;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 0 25% 0;
  margin-top: auto;
  padding-bottom: 7%;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.show {
  transition: max-height 0.55s ease-in;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  cursor: pointer;
  height: auto;
  overflow: hidden;
  max-height: 300px;
}

.edit_icon_set_container {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.browse_icon_container {
  height: auto;
}

.margin {
  margin-top: 100%;
}

.no_margin {
  margin: 0;
}

.global_recipe {
  border: 2px solid;
  border-image: linear-gradient(45deg, turquoise, rgb(140, 207, 40)) 1;
  background-image: linear-gradient(rgb(217, 236, 225), white);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
}

.icon_container {
  outline: 2px solid rgb(145, 20, 40);
}

.ing_section {
  height: 35%;
}

.temp_section {
  height: 25%;
}

.time_section {
  height: 35%;
}

.edit_recipes_list {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-height: 1100px) {
  .form-control {
    padding: 0 !important;
  }
  .form-select {
    padding: 0 !important;
  }
  .filters_input {
    margin-bottom: 2%;
  }
  .h4 {
    font-size: 2.7vh !important;
  }
  .h5 {
    font-size: 2.2vh !important;
    margin-bottom: 0.2vh !important;
  }
  .h6 {
    font-size: 1.7vh !important;
  }
  .recipe_section {
    margin-bottom: 5%;
  }
  .filter_btn {
    padding: 0 !important;
  }
  .score {
    padding-bottom: 3.5%;
  }
}

.machine_status_dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.machine_on {
  background-color: green;
}

.machine_off {
  background-color: red;
}

#statuses {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.machine_status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
  padding-left: 15%;
}

.tea_making_status {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.full_dot{
  background-color: green;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.empty_dot{
  background-color: white;
}

.status_dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 3px 0;
  border:1px solid black;
}

#status_dots {
  display: flex;
}

.alertShow {
  margin-top: auto !important;
  max-height: none !important;

  position: absolute !important;
  z-index: 1111 !important;
  left: -18% !important;
  bottom: -61px !important;
  width: 136% !important;
  height: 61px !important;

  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none; 
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  transition: opacity .15s linear;
  visibility: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box; */





}

.no_margin_bot{
  margin-bottom: 0;
}

.homeContainer {
  display: flex;
  flex-direction: row;
}

.loginForm {
  margin: 2%;
  padding: 1%;
  width: 50%;
  background-color: #8FB554AA;
  border-radius: 0 0 0 40px;
  animation: morphingbEdgesSmall 10s infinite;
}

@keyframes morphingbEdgesSmall {

  0% {
    border-radius: 0 0 0 40px;
  }
  25% { 
    border-radius: 0 0 40px 0;
  }
  50% {
    border-radius: 0 40px 0 0;

  }
  75% {
    border-radius: 40px 0 0 0;

  }
  
}

.registerForm {
  margin: 2%;
  padding: 1%;
  width: 50%;
  background-color: #016316AA;
  border-radius: 2%;
  border-radius: 0 0 0 40px;
  animation: morphingbEdgesSmall 10s infinite;
}

.homeSignboard {
  margin: 2%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;

  background-color: #F1F1F1;
  animation-name: a0, a1, a2, morphing;
  animation-duration: 2s, 6s, 3s, 11s;
  animation-delay: 0s, 2s, 6s, 0s;
}

@keyframes a0 {
  from {background-color: #F1F1F1;}

  to {background-color: #016316aa;}
}

@keyframes a1 {
  from {background-color: #016316aa;}

  to {background-color: #8FB554aa;}
}

@keyframes a2 {
  from {background-color: #8FB554aa;}

  to {background-color: #F1F1F1;}
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;	
    box-shadow: -10px -5px 50px rgba(0,0,0,0);	
  }
  100% { 
    border-radius: 0.25rem / 30% 30% 70% 70%;
  }
}

@keyframes morphingbT {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  50% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;	
    box-shadow: -10px -5px 50px rgba(0,0,0,0);	
  }
  75% { 
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  100% { 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  
}


.loginButton {
	box-shadow: 15px 15px 50px rgba(0,0,0,0.2);

  animation: morphingbT 20s infinite;
  width: 70%
}



.logo {
  padding: 2%;
  font-family: 'Yellowtail', cursive;
  font-size: 110px;
  text-align: center;
  font-weight: 800;
}

.buttonsLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputLabel {
  margin-left:5%;
  background-color: rgba(235, 255, 235, 0.2);
  width: 20%;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.centerInRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.registerButton {
  width: 70%;
  animation: morphingbEdgesSmallFull 15s infinite;
}

@keyframes morphingbEdgesSmallFull {

  0% {
    border-radius: 10px 10px 10px 10px;
  }
  50% {
    border-radius: 30px 30px 30px 30px;

  }
  100% {
    border-radius: 10px 10px 10px 10px;

  } 
  
}

.loginFormForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.resetContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.resetForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #8FB554AA;
  padding: 5%;
  border-radius: 2%;

}

.returnButton {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.inputLabelReset {
  width: 30%;
}


